In [19]:
import sqlglot
from sqlglot.optimizer import optimizer

In [2]:
sql = """
select distinct
    md5(concat_ws('-', type, inviteno, dwbm, cgdwbm, compare_time)) as uuid,
    '0' as onuse,
    cast(null as datetime) as etl_time,
    strleft(dwbm, 3) as zgqybm,
    type,
    inviteno,
    invitedesc,
    dwbm,
    dwmc,
    cgdwbm,
    cgdwmc,
    compare_time,
    tyshxydm,
    frsfz,
    fr
from
    (
        with
            ac as (
                select
                    a.dwbm,
                    a.dwmc,
                    a.busi_releasetime,
                    a.busi_releaseflag,
                    c.inviteno,
                    c.inviteid,
                    c.invitedesc,
                    c.inviteschemeid,
                    c.invitecorpcode as cgdwbm,
                    c.invitecorpdesc as cgdwmc
                from
                    dw_ods_dsep.ods_cg_ztb_bid as a
                    inner join dw_ods_dsep.ods_cg_ztb_invite as c on 
                        a.inviteid = c.inviteid
            ),
            main as (
                select
                    'zb' as type,
                    ac.inviteno,
                    ac.invitedesc,
                    ac.dwbm,
                    ac.dwmc,
                    ac.cgdwbm,
                    ac.cgdwmc,
                    ac.busi_releasetime as compare_time
                from
                    ac
                    inner join dw_ods_dsep.ods_cg_ztb_invitescheme as b on 
                        b.inviteschemeid = ac.inviteschemeid
                where
                    ac.busi_releaseflag = '1'
                union all
                select
                    'zb' as type,
                    ac.inviteno,
                    ac.invitedesc,
                    ac.dwbm,
                    ac.dwmc,
                    ac.cgdwbm,
                    ac.cgdwmc,
                    b.audittime as compare_time
                from
                    ac
                    inner join dw_ods_dsep.ods_cg_ztb_busiaudit as b on 
                        b.inviteid = ac.inviteid
                where
                    b.auditflag = '2'
                union all
                select
                    'zb' as type,
                    ac.inviteno,
                    ac.invitedesc,
                    ac.dwbm,
                    ac.dwmc,
                    ac.cgdwbm,
                    ac.cgdwmc,
                    b.audittime as compare_time
                from
                    ac
                    inner join dw_ods_dsep.ods_cg_ztb_integrateaudit as b on 
                        b.inviteid = ac.inviteid
                where
                    b.auditflag = '2'
                union all
                select
                    'ht' as type,
                    htbm,
                    htmc,
                    dwbm,
                    dwmc,
                    xfdm,
                    xfmc,
                    sprq as compare_time
                from
                    dw_ods_dsep.ods_cg_cght
                where
                    swbz = '2'
            )
        select
            main.*,
            g.yyzz as tyshxydm,
            g.frsfz,
            g.fr
        from
            main
            inner join dw_ods_dsep.ods_cg_xtghdw as g on 
                g.dwbm = main.dwbm
    ) as ads
"""

In [26]:
optimizer.merge_subqueries(sqlglot.parse_one(sql)).sql(dialect='mysql')

"SELECT DISTINCT MD5(CONCAT_WS('-', type, inviteno, dwbm, cgdwbm, compare_time)) AS uuid, '0' AS onuse, CAST(NULL AS DATETIME) AS etl_time, STRLEFT(dwbm, 3) AS zgqybm, type, inviteno, invitedesc, dwbm, dwmc, cgdwbm, cgdwmc, compare_time, tyshxydm, frsfz, fr FROM (WITH ac AS (SELECT a.dwbm, a.dwmc, a.busi_releasetime, a.busi_releaseflag, c.inviteno, c.inviteid, c.invitedesc, c.inviteschemeid, c.invitecorpcode AS cgdwbm, c.invitecorpdesc AS cgdwmc FROM dw_ods_dsep.ods_cg_ztb_bid AS a INNER JOIN dw_ods_dsep.ods_cg_ztb_invite AS c ON a.inviteid = c.inviteid), main AS (SELECT 'zb' AS type, ac.inviteno, ac.invitedesc, ac.dwbm, ac.dwmc, ac.cgdwbm, ac.cgdwmc, ac.busi_releasetime AS compare_time FROM ac INNER JOIN dw_ods_dsep.ods_cg_ztb_invitescheme AS b ON b.inviteschemeid = ac.inviteschemeid WHERE ac.busi_releaseflag = '1' UNION ALL SELECT 'zb' AS type, ac.inviteno, ac.invitedesc, ac.dwbm, ac.dwmc, ac.cgdwbm, ac.cgdwmc, b.audittime AS compare_time FROM ac INNER JOIN dw_ods_dsep.ods_cg_ztb_busiaudit AS b ON b.inviteid = ac.inviteid WHERE b.auditflag = '2' UNION ALL SELECT 'zb' AS type, ac.inviteno, ac.invitedesc, ac.dwbm, ac.dwmc, ac.cgdwbm, ac.cgdwmc, b.audittime AS compare_time FROM ac INNER JOIN dw_ods_dsep.ods_cg_ztb_integrateaudit AS b ON b.inviteid = ac.inviteid WHERE b.auditflag = '2' UNION ALL SELECT 'ht' AS type, htbm, htmc, dwbm, dwmc, xfdm, xfmc, sprq AS compare_time FROM dw_ods_dsep.ods_cg_cght WHERE swbz = '2') SELECT main.*, g.yyzz AS tyshxydm, g.frsfz, g.fr FROM main INNER JOIN dw_ods_dsep.ods_cg_xtghdw AS g ON g.dwbm = main.dwbm) AS ads"

In [7]:
sqlglot.transpile(sql, read='doris', write='mysql')[0]

"SELECT DISTINCT MD5(CONCAT_WS('-', type, inviteno, dwbm, cgdwbm, compare_time)) AS uuid, '0' AS onuse, CAST(NULL AS DATETIME) AS etl_time, STRLEFT(dwbm, 3) AS zgqybm, type, inviteno, invitedesc, dwbm, dwmc, cgdwbm, cgdwmc, compare_time, tyshxydm, frsfz, fr FROM (WITH ac AS (SELECT a.dwbm, a.dwmc, a.busi_releasetime, a.busi_releaseflag, c.inviteno, c.inviteid, c.invitedesc, c.inviteschemeid, c.invitecorpcode AS cgdwbm, c.invitecorpdesc AS cgdwmc FROM dw_ods_dsep.ods_cg_ztb_bid AS a INNER JOIN dw_ods_dsep.ods_cg_ztb_invite AS c ON a.inviteid = c.inviteid), main AS (SELECT 'zb' AS type, ac.inviteno, ac.invitedesc, ac.dwbm, ac.dwmc, ac.cgdwbm, ac.cgdwmc, ac.busi_releasetime AS compare_time FROM ac INNER JOIN dw_ods_dsep.ods_cg_ztb_invitescheme AS b ON b.inviteschemeid = ac.inviteschemeid WHERE ac.busi_releaseflag = '1' UNION ALL SELECT 'zb' AS type, ac.inviteno, ac.invitedesc, ac.dwbm, ac.dwmc, ac.cgdwbm, ac.cgdwmc, b.audittime AS compare_time FROM ac INNER JOIN dw_ods_dsep.ods_cg_ztb_busiaudit AS b ON b.inviteid = ac.inviteid WHERE b.auditflag = '2' UNION ALL SELECT 'zb' AS type, ac.inviteno, ac.invitedesc, ac.dwbm, ac.dwmc, ac.cgdwbm, ac.cgdwmc, b.audittime AS compare_time FROM ac INNER JOIN dw_ods_dsep.ods_cg_ztb_integrateaudit AS b ON b.inviteid = ac.inviteid WHERE b.auditflag = '2' UNION ALL SELECT 'ht' AS type, htbm, htmc, dwbm, dwmc, xfdm, xfmc, sprq AS compare_time FROM dw_ods_dsep.ods_cg_cght WHERE swbz = '2') SELECT main.*, g.yyzz AS tyshxydm, g.frsfz, g.fr FROM main INNER JOIN dw_ods_dsep.ods_cg_xtghdw AS g ON g.dwbm = main.dwbm) AS ads"

In [9]:
sqlglot.generator.Generator?

Init signature:
sqlglot.generator.Generator(
    pretty: 't.Optional[bool]' = None,
    identify: 'str | bool' = False,
    normalize: 'bool' = False,
    pad: 'int' = 2,
    indent: 'int' = 2,
    normalize_functions: 't.Optional[str | bool]' = None,
    unsupported_level: 'ErrorLevel' = <ErrorLevel.WARN: 'WARN'>,
    max_unsupported: 'int' = 3,
    leading_comma: 'bool' = False,
    max_text_width: 'int' = 80,
    comments: 'bool' = True,
    dialect: 'DialectType' = None,
)
Docstring:
Generator converts a given syntax tree to the corresponding SQL string.

Args:
    pretty: Whether to format the produced SQL string.
        Default: False.
    identify: Determines when an identifier should be quoted. Possible values are:
        False (default): Never quote, except in cases where it's mandatory by the dialect.
        True or 'always': Always quote.
        'safe': Only quote identifiers that are case insensitive.
    normalize: Whether to normalize identifiers to lowercase.
        Default: False.
    pad: The pad size in a formatted string. For example, this affects the indentation of
        a projection in a query, relative to its nesting level.
        Default: 2.
    indent: The indentation size in a formatted string. For example, this affects the
        indentation of subqueries and filters under a `WHERE` clause.
        Default: 2.
    normalize_functions: How to normalize function names. Possible values are:
        "upper" or True (default): Convert names to uppercase.
        "lower": Convert names to lowercase.
        False: Disables function name normalization.
    unsupported_level: Determines the generator's behavior when it encounters unsupported expressions.
        Default ErrorLevel.WARN.
    max_unsupported: Maximum number of unsupported messages to include in a raised UnsupportedError.
        This is only relevant if unsupported_level is ErrorLevel.RAISE.
        Default: 3
    leading_comma: Whether the comma is leading or trailing in select expressions.
        This is only relevant when generating in pretty mode.
        Default: False
    max_text_width: The max number of characters in a segment before creating new lines in pretty mode.
        The default is on the smaller end because the length only represents a segment and not the true
        line length.
        Default: 80
    comments: Whether to preserve comments in the output SQL code.
        Default: True
File:           ~/.cache/pypoetry/virtualenvs/lab-home-wtptIbf4-py3.12/lib/python3.12/site-packages/sqlglot/generator.py
Type:           _Generator
Subclasses:     Generator, Generator, Generator, Generator, Generator, Generator, Generator, Generator, Generator, Generator, ...